*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif ;
    box-sizing: border-box;
}
body{
    background : #002339;
}
.app{
    margin: 10% 0 0 10%;
}
.app h1{
    padding-bottom: 20px;
    color: rgb(253, 253, 253);
    font-size: 70px;
}
.app h2{
    color: aquamarine;
    border-bottom: aquamarine 4px solid ;
    display: inline;
    font-size: 50px;
}
.app input{
    margin-top: 30px;
    max-width: 600px;
    width: 60%;
    height: 60px;
    border-radius: 4px;
    display: block;
    padding-left: 3%;
}
#btn{
    width: 150px;
    height: 40px;
    margin-top: 30px  ;
    background: rgb(3, 170, 25);
    font-size: 20px;
    font-weight: 500;
    border-radius: 4px;
    color: white;
    border: 0;
    outline: 0;
    cursor: pointer;
}
#btn:hover{
    background: rgb(0, 128, 15);
    color: black;
    transition: 0.2s;
}
.app input:focus {
    outline: none;
}
.input_copy{
    display: flex;
}
#copy{
    width: 60px ;
    height: 40px;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 8px;
    background-color: white;
    color: #002339;
    font-size: 15px;
    font-weight: 650;
    cursor: pointer;
}
#copy:hover{
    background-color: #002339;
    color: white;
    transition: 0.2s;
}